head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./index.css')
  title Relevamiento Canasta Basica Estudiantil
div.asd  holis
| hola mundo jsjsj 2 uwu
